@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
    local("Roboto-Regular"),
    url("../fonts/Roboto.woff2") format("woff2"),
    url("../fonts/Roboto.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
    local("Roboto-Medium"),
    url("../fonts/Robotomedium.woff2") format("woff2"),
    url("../fonts/Robotomedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
    local("Roboto-Bold"),
    url("../fonts/Robotobold.woff2") format("woff2"),
    url("../fonts/Robotobold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

body {
    box-sizing: border-box;
    color: #323232;
    
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin: 0 auto;
    padding: 0;
    width: 1200px;
}

.site-wrapper .container,
.catalog-wrapper .container {
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
    padding: 15px 15px;
}

.catalog-wrapper {
    background-color: #849d8f;

}

.page-title {
    color: #fff;
    font-weight: bold;
    font-size: 35px;
}

/*******Коды header*******/
.main-header {
    align-items: top;
    display: flex;
    
    position: relative;
    padding: 0;
}

.main-header-logo {
    width: 154px;
    height: 64px;
    margin: 0;
    padding: 0;
}

/*Меню*/

nav {
    width: 660px;
    margin: 0 105px 0 0;
    padding: 0;
}

.main-header-menu ul {
    list-style: none;
    margin: 15px 0 0 0;
    padding: 0 0 0 15px;
}

.main-header-menu ul a {
    color: #fff;
    
    font-size: 16px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.main-header-menu .submenu {
    display: block;
    padding: 0 0 0 0;
    margin: 0;
    background: #f8f7f4;
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
}

.main-header-menu li:hover .submenu-wrapper {
    display: block;
}

.topmenu > li {
    display: inline-block;
    margin: 0 15px;
    position: relative;
    padding: 5px 0;
    font-weight: 700;
}

.topmenu > li:hover,
.topmenu > li:focus {
    background: #f7f6f3;
    border-radius: 30px;
    margin: 0;
    padding: 5px 15px;
}

.topmenu > li:hover a,
.topmenu > li:focus a {
    color: #000000;
    border: none;
}

.topmenu > li:active {
    box-shadow: 0 -2px 0 0 #323232;
}

.topmenu > li:last-child {
    margin-right: 0;
}

.topmenu .topmenu-current {
    background: #d07058;
    border-radius: 30px;
    padding: 5px 15px;
    margin: 0;
    
}

.topmenu .topmenu-current a {
    border: none;
}

.submenu-wrapper {
    padding: 5px 0 0 0;
    display: none;
    position: absolute;
    top: 100%;
    left: -10px;
    width: 180%;
    z-index: 10;
    font-weight: normal;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    -webkit-box-shadow: 0 25px 20px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 25px 20px 5px rgba(0,0,0,0.3);
    -o-box-shadow: 0 25px 20px 5px rgba(0,0,0,0.3);
    box-shadow: 0 25px 20px 5px rgba(0,0,0,0.3);
}

.submenu a {
    display: block;
    width: auto;
    padding: 10px 20px;
}

.submenu a:hover,
.submenu a:focus {
    background: #fbded8;
}

.submenu a:hover,
.submenu a:focus {
    text-decoration: none;
}

.submenu a:active {
    background: #f6b5a5;
}


.submenu li.is-new {
    font-weight: 700;
    border-bottom: 1px solid #d1d0ce;
    margin: 0 -10px -8px;
    padding: 0 0 8px 10px;
}

.submenu li.current {
    background-color: #d07058;
    color: #ffffff;
}



/*Поиск, авторизация, корзина, контактная информация*/

.main-header-info {
    padding: 15px 0 0 0;
}

.user-navigation {
    box-sizing: border-box;
    justify-content: space-between;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 250px;
}

.enter,
.basket {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    padding: 7px 15px 7px 42px;
    color: #ffffff;
    position: relative;
}

.user-navigation svg {
    position: absolute;
    left: 15px;
    top: 6px;
}

.search {
    position: relative;
    font-size: 0;
    padding: 20px 17px 11px 15px;
}

.search {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    padding: 24px 10px 7px 24px;
    color: #ffffff;
    position: relative;
}

.search:hover,
.search:focus,
.enter:hover,
.enter:focus,
.basket:hover,
.basket:focus {
    background-color: rgba(255, 255, 255, 1);
    color: #323232;
}

.search:hover .modal-search,
.enter:hover .modal-login,
.basket:hover .modal-basket {
    display: flex;
}


.search svg {
    left: 9px;
    top: 7px;
}

.user-navigation a:hover,
.user-navigation a:focus {
    background-color: rgba(255, 255, 255, 1);
    color: #323232;
}

.main-header-contacts {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
}

.main-header-contacts a {
    display: block;
    color: #fff;
    font-size: 22px;
    padding: 5px 0 0 0;
}

li.basket {
    margin-top: 3px;
}

.catalog-wrapper li.basket {
    margin-top: 0;
}

/*Хлебные крошки*/
.breadcrumbs li::after {
    content: "\000BB";
    color: #ffffff;
}

.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    list-style: none;
    padding: 0;
}

.breadcrumbs a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: #ffffff;
    margin-right: 5px;
}

.breadcrumbs span {
    color: #ffffff;
    margin-right: 5px;
}

.breadcrumbs-current {
    color: #ffffff;
}

.breadcrumbs li {
    margin-right: 5px;
}

.breadcrumbs-current::after {
    display: none;
}

/****************************/
.modal-basket {
    box-sizing: border-box;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.5);
    background-color: #f8f7f4;
    border-radius: 5px;
    padding: 20px 15px 20px 15px;
    width: 540px;
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 1;

    display: none;
}

.basket-product {
    border-bottom: 2px solid #ccccc9;
    margin: 0;
    padding-bottom: 20px;
}

.modal-delete {
    width: 12px;
    height: 12px;
    margin-bottom: 15px;
    font-size: 0;
    border: 0;
    cursor: pointer;
    position: relative;
}

.modal-delete::before,
.modal-delete::after {
    content: "";

    position: absolute;
    left: 0;
    width: 12px;
    height: 1px;

    background-color: #323232;

}

.modal-delete::before {
    transform: rotate(45deg);
}

.modal-delete::after {
    transform: rotate(-45deg);
}

.ice-cream-basket {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #323232;
    padding-left: 15px;
    width: 230px;
}

.amount-price {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #323232;
    padding-left: 25px;
}

.amount-price span {
    color: #c2c2c0;
}

.total {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #323232;
    padding-left: 30px;
}

.basket-price {
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    color: #323232;
    text-align: right;

    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.basket-enter {
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border: none;
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    line-height: 24px;
    margin-left: 320px;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    vertical-align: top;
}

.link-search:hover,
.link-enter:hover,
.link-basket:hover,
.link-search:focus,
.link-enter:focus,
.link-basket:focus {
    background-color: #ffffff;
    color:#323232;
}

.contacts {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-align: right;

    position: absolute;
    right: 27px;
    top: 60px;
}

.contacts a {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
}

.modal-search {
    box-sizing: border-box;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.5);
    background-color: #f8f7f4;
    border-radius: 5px;
    padding: 20px 15px 20px 15px;
    width: 340px;
    position: absolute;
    right: 219px;
    top: 31px;
    right: 0;
    z-index: 1;

    display: none;
    
}

.search-form {
    margin: 0;
    padding: 0;
}

.search-user {
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    box-shadow: none;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 310px;
}

.search-user:hover,
.search-user:focus {
    border: 2px solid #b4b4b4;
    margin-bottom: -2px;
}

.login-link {
    position: relative;
}

.modal-login {
    box-sizing: border-box;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    background-color: #f8f7f4;
    border-radius: 5px;
    position: absolute;
    padding: 0 14px 12px;
    width: 280px;
    top: 31px;
    right: 0;
    z-index: 1;

    display: none;    
}

.login-user,
.password-user {
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    box-shadow: none;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 0 10px 10px;
    margin: 0;
    width: 240px;
}

.login-user:hover,
.password-user:hover,
.login-user:focus,
.password-user:focus {
    border: 2px solid #b4b4b4;
    margin-bottom: -2px;
}

.login-user:active,
.password-user:active {
    border: 2px solid #8fbdec;
}

.modal-search-container {
    display: flex;
}

.registration {
    margin: 0;
}

.registration a {
    border: 1px solid #323232;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    color: #323232;
    font-size: 13px;
    font-weight: 400;
    padding: 0;
    border-radius: unset;
}

.modal-enter {
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border: none;
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    line-height: 24px;
    margin-right: 34px;
    padding: 8px 23px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    vertical-align: top;
}

.slider {
    margin-bottom: 45px;
    position: relative;
    padding-top: 321px;
    text-align: center;
    color: #ffffff;
}

.slider-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.slide {
    display: none;
}

.slide-title {
    font-size: 60px;
    font-weight: 800;
    line-height: 60px;
    margin: 0 auto;
    margin-bottom: 27px;
    width: 700px;
}



.site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/slider-item1.png");
    background-repeat: no-repeat;
    background-position: center 80px;

    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
    content: "";
    visibility: hidden;
}

.site-wrapper::before {
    background-image: url("../img/slider-item2.png");

}

.site-wrapper::after {
    background-image: url("../img/slider-item3.png");
}

.button {
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border: none;
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    color: #ffffff;
    cursor: pointer;
    font-size: 31px;
    font-weight: 600;
    display: inline-block;
    line-height: 41px;
    padding: 12px 44px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    vertical-align: top;
}

.button:hover,
.button:focus {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
    bottom: 63px;
    font-size: 0;
    left: 0;
    position: absolute;
    z-index: 20;
}

.slider-controls label {
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 17px;
    margin-right: 8px;
    vertical-align: top;
    width: 17px;
}

.slider-controls label:hover,
.slider-controls label:focus {
    background-color: rgba(255, 255, 255, 0.3);
}

.slider-controls label:active {
    background-color: #ffffff;
}

#product-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/slider-item1.png"),
    url("../img/illumination.png");
    background-position: center 80px, center 0;
}

#product-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/slider-item2.png"),
    url("../img/illumination2.png");
    background-position: center 80px, center 0;
}

#product-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/slider-item3.png"),
    url("../img/illumination3.png");
    background-position: center 80px, center 0;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3,
#search-toggle:checked ~ * .modal-search,
#enter-toggle:checked ~ * .modal-login,
#basket-toggle:checked ~ * .modal-basket {
    display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
    background-color: #ffffff;
}

#search-toggle:checked ~ .search .hide-text,
#enter-toggle:checked ~ .enter .hide-text,
#basket-toggle:checked ~ .basket .hide-text {
    background-color: rgba(255, 255, 255, 1);
    color: #323232;
}

/*******Коды header*******/









































a {
    text-decoration: none;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px; 
	width: 1px; 
    overflow: hidden;
}

.filter-products {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.sort {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 70px;
    display: flex;
    flex-direction: column;
}

.sort label,
.price,
.fatness legend,
.fillers legend {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px; 
    margin: 0;
    padding: 0;
}

.sort-box {
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    color: #ffffff;
    margin: 0;
    margin-top: 10px;
    padding: 10px 15px; 
    width: 195px;

    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;       
    background-image: url("../img/select-arrow.svg");
    background-repeat: no-repeat;
    background-position: right 15px center;
 
}

.sort-box:hover {
    color: #000000;
    background-image: url("../img/select-arrow-black.svg");
    font-weight: 500;
}

.sort-box:focus {
    background-color: #ffffff;
    color: #000000;
    background-image: url("../img/select-arrow-black.svg");
}


.name-box,
.filter-option label {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}

.name-box svg {
    margin-left: 20px;
}

.filter-price {
    margin: 0;
    margin-left: 15px;
    height: 70px;
}

.price-box {
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    margin-top: 10px;
    width: 210px;
    padding: 18px 15px;

    position: relative;
}

.line-one {
    background-color: rgba(255, 255, 255, 0.5);
    height: 5px;
    width: 180px;

    
}

.line-two {
    background-color: #ffffff;
    height: 5px;
    width: 100px; 

    position: absolute;
    left: 50px;
}

.slider-one {
    background-image: url("../img/filter-button.svg");
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
}

.slider-two {
    background-image: url("../img/filter-button.svg");
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    left: 130px;
}

.fatness {
    border: none;
    margin: 0;
    padding: 0;
    margin-left: 15px;
}

.fatness legend {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.fatness-wrapper {
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    width: 415px;
    padding: 12px 0;

    display: flex;
}

.filter-option {
    margin: 0;
    padding-left: 50px; 
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -20%;
  
    width: 25px;
    height: 25px;
    
    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
}

.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    top: -20%;
    left: -35px;
  
    width: 25px;
    height: 25px;
    
    background-image: url("../img/radio-on.svg");
    background-repeat: no-repeat;
}

.fillers {
    border: none;
    margin: 20px 0 0 0;
    padding: 0;
}

.fillers legend {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.fillers-wrapper {
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    width: 690px;
    padding: 12px 0;

    display: flex;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -20%;
  
    width: 25px;
    height: 25px;
    
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    top: -20%;
    left: -35px;
  
    width: 25px;
    height: 25px;
    
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
}

.filter-enter {
    border: 2px solid #ffffff;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    margin: 0;
    margin-top: 45px;
    margin-left: 15px;
    padding: 0;
    width: 145px;
    height: 42px;
}

.filter-enter:hover,
.filter-enter:focus {
    background-color: #ffffff;
    color: #323232;
}

.filter-enter:active {
    box-shadow: 0 -2px 0 0 #323232;
}

/*******Коды main*******/
.proposals {
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.proposals .proposals-wrapper {
    width: 1145px;

    display: flex;
    justify-content: space-between;
}

.our-proposals-one {
    background-image: url("../img/Raspberry-fon.jpg");
}

.our-proposals-two {
    background-image: url("../img/Chocolate-fon.jpg");
}

.our-proposals-one,
.our-proposals-two {
    box-sizing: border-box;
    border-radius: 20px;
    color: #ffffff;
    margin: 0;
    padding: 20px 20px;
    width: 560px;
}

.our-proposals-one h3,
.our-proposals-two h3 {
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
    margin: 0px;
}

.our-proposals-one p,
.our-proposals-two p {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin: 25px 0 45px 0;
}

.link-our-proposals-one {
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border: none;
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    line-height: 24px;
    padding: 15px 25px;
    margin-left: 350px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    vertical-align: top;
}

.link-our-proposals-two {
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border: none;
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    line-height: 24px;
    padding: 15px 25px;
    margin-left: 320px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    vertical-align: top;
}

.link-our-proposals-one:hover,
.link-our-proposals-one:focus,
.link-our-proposals-two:hover,
.link-our-proposals-two:focus,
.subscription-send:hover,
.subscription-send:focus,
.address-phone-button:hover,
.address-phone-button:focus,
.modal-enter:hover,
.modal-enter:focus {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  }
  
.link-our-proposals-one:active,
.link-our-proposals-two:active,
.subscription-send:active,
.address-phone-button:active,
.modal-enter:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  }

.hit-sales {
    align-items: center;
    display: flex;
    margin: 0 -15px;
}

.catalog {
    
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
    width: 100%;
}

.catalog-list {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0 10px;
    margin-bottom: 30px;
    width: 100%;
}

.small-card {
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    border-radius: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px;
    position: relative;
    width: 287px;
    min-height: 370px;
    z-index: 10;
}

.address-phone-button {
    order: 2;
    margin: 18px 0 12px 0;
}



.catalog-item:hover,
.catalog-item:focus {
    box-sizing: border-box;
    border-radius: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: relative;
    width: 287px;
    min-height: 370px;
}


.small-card .address-phone-button {
    display: none;
}

.small-card:hover {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 20;
}

.small-card:hover .address-phone-button {
    display: flex;
   
}



.catalog-item h3 {
    text-align: center;
    order: 1;
    margin: 0;
}

.name-ice-cream {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.catalog-item-image img {
    border-radius: 50%;
    height: 265px;
    width: 265px;
    margin: 0;
}

.catalog-item .container {
    width: 170px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin: 0;
    padding: 0;
    padding-left: 15px;
    position: absolute;
    left: 0;
    text-shadow: 1px 1px 2px #323232;
    top: 230px;
}

.catalog-list-price {
    color: #ffffff;
    font-size: 45px;
    font-weight: 700;
}

.catalog-list-kg {
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
}

.image-hit {
    background-image: url("../img/hit.svg");
    background-repeat: no-repeat;
    background-position: 0 0; 
    left: 10px;
    height: 61px;
    position: absolute;
    width: 61px;
}

.features {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.features-wrapper {
    box-sizing: border-box;
    background-image: url("../img/Waffle-fon.jpg");
    border-radius: 20px;
    color: #323232;
    margin: 0;
    padding: 30px 20px 0 20px;
    width: 1145px;
}

.features h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    margin: 0;
    margin-bottom: 25px;
}

.features-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1105px;
    padding: 0;
}

.features-list li {
    width: 540px;
    margin-bottom: 30px;
}

.features-technology {
    position: relative;
    order: 0;
}

.features-feedstock {
    position: relative;
    order: 2;
}

.features-cooperation {
    position: relative;
    order: 1;
}

.features-delivery {
    position: relative;
    order: 3;
}

.features-technology p,
.features-feedstock p,
.features-cooperation p,
.features-delivery p {
    font-size: 16px;
    margin: 0;
    padding: 0;
    padding-left: 55px;
}

 
.features-technology span {
    background-image: url("../img/ice-cream.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top: -15px;
}

.features-feedstock span {
    background-image: url("../img/eco.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top: -15px;
}

.features-cooperation span {
    background-image: url("../img/cow.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top: -15px;
}

.features-delivery span {
    background-image: url("../img/thermometer.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top: -15px;
}

.news-subscription {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.news-subscription .news-subscription-wrapper {
    width: 1145px;

    display: flex;
    justify-content: space-between;
}

.news {
    box-sizing: border-box; 
    background-image: url("../img/Strawberry-fon.jpg");
    background-position: -45px -55px;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 30px 20px;
    width: 560px;
}

.news h2 {
    color: #323232;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin: 0;
    padding: 0;
}

.news-item {
    padding-bottom: 65px;
    padding-right: 240px;
}

.news a {
    border-bottom: 2px solid #323232;
    color: #323232;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.subscription {
    box-sizing: border-box;
    border: 10px solid rgba(0, 0, 0, 0.4);
    border-image-source: url("../img/bg-post.svg");
    border-image-slice: 10 ;
    background-color: #f8f7f4;
    border-radius: 20px;
    padding: 25px 20px;
    width: 560px;
}

.subscription p {
    color: #5a5a5a;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
}

.subscription form {
    margin-top: 40px;
}

.subscription input {
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    box-shadow: none;
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px 0 10px 10px;
    width: 350px;
}

.subscription-send {
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border: none;
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    line-height: 24px;
    padding: 12px 15px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    vertical-align: top;

    position: relative;
    left: 15px;
    bottom: 3px;
}

.contact-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.address-phone {
    background-color: #ffffff;
    border-radius: 15px;
    margin: 0;
    padding: 25px 25px; 
    width: 260px;
    position: absolute;
    right: 25px;
    top: 60px;
}

.address-phone h3 {
    color: #323232;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    margin-bottom: 10px;
}

.address-phone address {
    color: #323232;
    font-style: normal;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 30px;
}

.phone-office {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
}

.phone-office a {
    color: #323232;
}

.time-work {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}

.address-phone-button {
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border: none;
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    line-height: 24px;
    margin-top: 25px;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    vertical-align: top;
}

.map {
    background-image: url("../img/map.jpg");
    background-position: -20px -105px;
    height: 430px;
    margin-bottom: 20px;
    width: 1200px;
}

.modal-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5000;

    display: none;
}

.modal-feedback {
    background-color: #f8f7f4;
    border-radius: 20px; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    width: 480px;
    padding-top: 20px;
    padding-left: 25px;
    padding-bottom: 20px;
    position: fixed;
    left: 50%;
    top: 25%;
    margin-left: -250px;
}

.modal .modal-feedback .modal-close {
    position: absolute;
    top: 14px;
    right: 18px;
    width: 25px;
    height: 25px;
    font-size: 0 !important;
    background: #f8f7f4 !important;
    border: 0 !important;
    cursor: pointer;
    box-shadow: none;
    border-radius: unset;
    text-shadow: none;
    padding: 0;
}

.modal-close::before,
.modal-close::after {
    content: "";
  
    position: absolute;
    top: 10px;
    left: 3px;
    width: 20px;
    height: 3px;
  
    background-color: #323232;
}

.modal-close::before {
    transform: rotate(45deg);
}
  
  .modal-close::after {
    transform: rotate(-45deg);
}

.modal-feedback h2 {
    font-size: 24px;
    line-height: 28px;
    margin: 0;
}

.name-user,
.email-user {
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    box-shadow: none;
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 250px;
}

.modal-feedback textarea {
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    box-shadow: none;
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.modal-feedback button {
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border: none;
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    line-height: 24px;
    padding: 12px 30px;
    margin-left: 310px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    vertical-align: top;
}

.name-user:hover,
.email-user:hover,
.name-user:focus,
.email-user:focus,
.modal-feedback textarea:hover,
.modal-feedback textarea:focus {
    border: 2px solid #b4b4b4;
    margin-bottom: -2px;
}

.name-user:active,
.email-user:active,
.modal-feedback textarea:active {
    border: 2px solid #8fbdec;
}


.modal-feedback button:hover,
.modal-feedback button:focus {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
  
.modal-feedback button:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.pin {
    background-image: url("../img/pin.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    content: "";
    width: 80px;
    height: 140px;
    position: absolute;
    left: 270px;
    top: 140px;
    
}

.pagination-list {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
   justify-content: flex-end;
    list-style: none;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    padding-right: 50px;
    

}

.in-beginning svg {
    color: rgba(255, 255, 255, 0.3);
    margin-right: 10px;
    transform: rotate(180deg);
}

.in-end a {
    margin-left: 5px;
}

.pagination-item-two,
.pagination-item-three,
.pagination-item-four,
.pagination-item-five {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
    text-align: center;
    width: 25px;
}

.pagination-item-two:hover,
.pagination-item-three:hover,
.pagination-item-four:hover,
.pagination-item-five:hover, 
.pagination-item-two:focus,
.pagination-item-three:focus,
.pagination-item-four:focus,
.pagination-item-five:focus {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    width: 25px;
} 

.pagination-item-two:active,
.pagination-item-three:active,
.pagination-item-four:active,
.pagination-item-five:active {
    background-color: #ffffff;
}

.pagination-item-two a:active,
.pagination-item-three a:active,
.pagination-item-four a:active,
.pagination-item-five a:active {
    color: #323232;
}

.pagination-list .in-beginning a:hover,
.pagination-list .in-beginning a:focus,
.pagination-list .in-end a:hover,
.pagination-list .in-end a:focus {
    color: rgba(255, 255, 255, 0.3);
}

.pagination-list a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500; 
    
}

.pagination-item-current {
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    width: 25px;
}

.pagination-item-current a {
    color: #323232;
}

/*******Коды main*******/

/*******Коды footer*******/
.main-footer {
    display: flex;
    flex-direction: column;
}

.main-footer-wrapper {
    display: flex;
}

.footer-social {
    margin-left: 25px;
}

.social-button {
    align-items: center;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 32px;
    margin-right: 15px;
    width: 32px;
    opacity: 0.8;
}

.social-button:hover,
.social-button:focus {
    opacity: 1;
}

.social-button:active {
    opacity: 0.6;
}

.footer-social ul {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    margin-top: 20px;
    opacity: 0.8;
    padding: 0;
}

.footer-about-us {
    margin-left: 200px;
    width: 370px;
}

.footer-about-us-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 14px;
    padding: 0;
}

.for-suppliers a,
.about-production a,
.our-documents a,
.environmental-standard a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-left: 25px;
    margin-right: 10px;
}

.for-suppliers a:hover,
.for-suppliers a:focus,
.about-production a:hover,
.about-production a:focus,
.our-documents a:hover,
.our-documents a:focus,
.environmental-standard a:hover,
.environmental-standard a:focus, 
.made-htmlacademy a:hover,
.made-htmlacademy a:focus {
    border-bottom: 1px solid #ffbc9e;
    color: #ffbc9e;
}

.for-suppliers a:active,
.about-production a:active,
.our-documents a:active,
.environmental-standard a:active,
.made-htmlacademy a:active {
    border-bottom: 1px solid #ffbc9e;
    color: #ffbc9e;
}

.for-suppliers {
    order: 1;
    position: relative;
}

.for-suppliers::before {
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    content: "";
    left: 15px;
    height: 15px;
    position: absolute;
    width: 15px;
    left: 0;
    top: 5px;
}

.about-production {
    order: 3;
}

.our-documents {
    order: 2;
}

.environmental-standard {
    order: 4;
    margin-left: 10px;
}

.footer-copyright {
    margin-left: 139px;
}

.link-logo {
    margin: 0;
    padding: 0;
}

.made-htmlacademy {
    color: #ffffff;
    font-size: 12px;
    margin-top: -5px;
}

.made-htmlacademy a {
    color: #ffffff;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.made-htmlacademy a:hover {

}

/*******Коды footer*******/